.menu-popper {
    padding-bottom: 8px;
}

.menu-body {
    overflow-y: auto;
}

.menu-list {
    width: 224px;
    text-align: left;
    //Menu items
}

// Header
.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
    flex-shrink: 0;
}

.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item {
    margin-left: 0px;
    width: 100%;
    justify-content: flex-start;
    line-height: 1.8rem;
    padding: 11px 16px;
    border-radius: 0;
    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
    &:last-child {
        border-top: 1px solid rgb(231, 231, 231);
        border-radius: 0;
        border-bottom-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }
}